#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Helvetica, Arial, sans-serif;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
